*,
html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  outline: none;
  color: #f2f2f2;
  /* background: #0c294e; */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(8, 29, 55, 0.7) inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #f2f2f2 !important;
}
body {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ReactModal__Overlay--after-open {
  background: rgba(8, 29, 55, 0.7) !important;
}

.ReactModal__Content--after-open {
  border: 0 !important;
}

button {
  cursor: pointer;
}
